
<div class="config-backup">
	<div class="up box">
		<span><s>上传配置 </s></span>
		<input type="file" onchange="uinv.FCM.configMgr.model.backup.configUpload(this);" />
	</div>
	
	<div class="backup box">
		<span><s>下载配置</s></span>
		<button title="点击打包下载" onclick="uinv.FCM.configMgr.model.backup.configCompression(this);"></button>		
	</div>
</div>
<i class="config-line1"></i>
<div class="config-system">Loading...</div>


<script type="text/javascript">

uinv.FCM.configMgr.form.createHtml({ 
	"dom" : $(".config-system"),
	"tab" : "system"	
});


</script>



