<div class="config_page_title"><s>前台配置</s></div>
<div class="config-page" >
	<div class="menu_title">
		<ul class="menu">
			<li to="system.html"><s>系统</s></li>
			<li to="layout.html"><s>布局</s></li>
			<li to="selector.html"><s>选择器</s></li>
			<li to="layer.html"><s>图层</s></li>
			<li to="panel.html"><s>面板</s></li>
			<li to="statistics.html"><s>统计</s></li>
			<li to="monitor.html"><s>监控</s></li>
			<li to="resources.html"><s>资源</s></li>
			<li to="viewpoint.html"><s>视角</s></li>
		</ul>
	</div>

	<div class="config-load" style="position:relative;">
		Loading...
	</div>
	
	<div class="row btn config-submit-btn" style="display:none;">
		<input type="button" class="btn_save" onclick="uinv.FCM.configMgr.form.submit();" />
		<div class="config-info"></div>
	</div>
</div>

<script type="text/javascript">

(function(){
	
	// 翻译
	uinv.FCM.configMgr.translate();

	var obj = $('.config-page .config-load');
	
	$('.config-page .menu li').each(function(){
		$(this).click(function(){
		
			obj.html('Loading...');
			$('.config-submit-btn').hide();
			$('.config-info').html('');
		
			uinv.FCM.configMgr.form.load({
				'page' : $(this).attr('to'),
				'obj'  : obj
			});
			
			$(this).parents('.menu').find('li.ok').removeClass('ok');
			$(this).addClass('ok');
			
		});
	});
	
	// 默认打开第一个选项
	$('.config-page .menu li:first').click();
	
})(uinv.FCM.configMgr);

</script>