
<div class="monitor-box-up">

	<div class="style monitor-style monitor-box mr10 mb20">
		<div class="header"><s>面板列表</s></div>
		<table class="style-list">
			<tr>
				<th><s>面板名称</s></th>
				<th><s>面板描述</s></th>
				<th><s>操作</s></th>
			</tr>
		</table>	
		
		<div class="file-btn mt10">
			<span><s>上传面板</s></span>
			<input type="file" onchange="uinv.FCM.configMgr.model.monitor.uploadPanel(this);" />
		</div>
	</div>

	<div class="obj monitor-obj monitor-box mb20">
		<div class="header"><s>对象列表</s></div>
		<table class="obj-list">
			<tr>
				<th><s>对象分配</s></th>
				<th><s>面板名称</s></th>
				<th colspan="2"><s>操作</s></th>
			</tr>
		</table>
		
		<button class="button-btn mt10" onclick="uinv.FCM.configMgr.model.monitor.createObject();"><s>创建对象</s></button>
	</div>
</div>


<div class="monitor-box-down">

	<div class="monitor-alarmlevel monitor-box mr10 mb20">
		<div class="header"><s>告警级别</s></div>
		<table class="alarmlevel" path="monitor" type="text" cate="alarmlevel" name="alarmLevel">
			<tr>
				<th><s>级别名称</s></th>
				<th><s>颜色</s></th>
				<th><s>操作</s></th>
			</tr>
		</table>
		<button class="button-btn mt10" onclick="uinv.FCM.configMgr.model.monitor.addAlarmLevel();"><s>添加级别</s></button>
	</div>
	
	
	<div class="monitor-box mb20">
		<div class="header"><s>其它设置</s></div>
		<div class="alarm">
			<p><s>监控时间 </s><input path="monitor" type="text" cate="alarm" name="monitorTime" /></p>
			<p><s>告警时间 </s><input path="monitor" type="text" cate="alarm" name="alarmTime" /></p>
			<p><s>图标大小 </s><input path="monitor" type="text" cate="alarm" name="alarmIconSize" /></p>
		</div>
	</div>

</div>

<script type="text/javascript">

(function(){
 uinv.FCM.configMgr.model.monitor.init({
	'objBox' : '.obj-list',
	'styleBox' : '.style-list',
	'alarmlevelBox' : '.alarmlevel'
 });
})(uinv.FCM.configMgr);

</script>


